<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h3>Начисление финансирования</h3>

    <form class="form" method="POST">
        <div class="form-group">
            <label>Описание</label>
            <input class="form-control" name="description"/>
        </div>
        <div class="form-group">
            <label>Список участников</label>
            <textarea class="form-control" name="list"></textarea>
        </div>

        <button class="btn btn-success">Начислить</button>
    </form>


    {% if done_list %}
        <h3>Начислено</h3>

        <ul>
            {% for record in done_list %}
                <li>{{ record[0] }}: {{ record[1] }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if undone_list %}
        <h3>Не начислено</h3>

        <ul>
            {% for record in undone_list %}
                <li>{{ record[0] }}: {{ record[1] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
</body>
</html>